<div class="jumbotron">
  <h1 class="display-4">Hello, adventurer!</h1>
  <p class="lead">Poirot is a data allocation/filtering tool with a user-friendly, yet powerful interface</p>
  <hr class="my-4">
  <p>  Poirot is a tool that lets you import table data (any sort of csv, or other gridlike data should do).
    It then allows you to create and compose conditions, in order to split up your data any way you like.
    Finally after a suitable split-up, you can also perform aggregations/totals/etc for each split performed
    by your tree of formulas.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">See demo</a>
  </p>
</div>
