<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" href="#">Poirot</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['new']">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['about']">About</a>
      </li>
      <li class="nav-item  dropdown">
        <a class="nav-link dropdown-toggle disabled" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Layout
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['layout', 'grammar']">Grammar</a>
          <a class="dropdown-item" [routerLink]="['layout', 'data']">Data sets</a>
          <a class="dropdown-item" [routerLink]="['layout', 'edit']">Conditions</a>
          <a class="dropdown-item" [routerLink]="['layout', 'reports']">Reports</a> <!-- TODO: ReportBuilder -->
          <a class="dropdown-item" [routerLink]="['layout', 'workspace']">Workspace</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
